html {
    /* actions */
    scroll-behavior:    smooth;
}

body {
    /* positioning */
    padding-top:        54px;

    /* font style */
    font-family:        'Open Sans', serif;
    color:              var(--secondary-color);

    /* size dependant settings */
    @media (min-width:  1000px) {
        padding-top:    0;
        padding-left:   17rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    /* font style */
    font-family:        'Saira Extra Condensed', serif;
    font-weight:        700;
}

h1, h2 {
    /* font style */
    text-transform:     uppercase;
    color:              var(--primary-color);
}

h1 {
    /* font style */
    font-size:          6rem;
    /* line-height:        5.5rem; */
    margin-bottom:      0rem;
}

h2 {
    /* font style */
    font-size:          3.5rem;
}

h3 {
    font-size:          1.35rem;
}

.subheading {
    /* font style */
    text-transform:     uppercase;
    font-weight:        500;
    font-family:        'Saira Extra Condensed', serif;
    font-size:          1.35rem;
}
