section {
    /* style */
    display:            flex;
    flex-direction:     column;
    border-bottom:      1px solid #dee2e6;
    min-height:         100vh;
    justify-content:    center;

    /* positioning */
    @media (max-width:  1000px) {
        padding:        0 1.5rem !important;
    }
    @media (min-width:  1000px) {
        padding:        0 3rem !important;
    }

    padding: auto; /* TODO */
}

.resume-item {
    display:            flex;
    @media (max-width:  1000px) {
        flex-direction: column;

        margin-bottom:  1.25rem;
    }
    @media (min-width:  1000px) {
        flex-direction: row;

        margin-bottom:  1.25rem;
    }
}

.resume-date {
    @media (max-width:  768px) {
        min-width:      none;
    }
    @media (min-width:  768px) {
        min-width:      10rem;
    }
}

.entry-type {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    font-size: 1.35rem;
    text-decoration: none;

    display:                inline-flex;
    div {
        margin-right:       5px;
        padding:            0px 3px 0px 3px;
        border-radius:      3px;
    }
    .jour {
        background-color:   #f8d7da;
    }
    .conf {
        background-color:   #d1e7dd;
    }
    .prep {
        background-color:   #fef3cd;
    }
    .thes {
        background-color:   #cfe2ff;
    }
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

a {
    color: var(--primary-color) ;
}

a:hover, a:focus, a:active {
    color: var(--primary-color) ;
}

.small-caps {
    text-transform: none;
    font-variant: small-caps;
}
