html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: var(--secondary-color);
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    color: #343a40;
}

h1, h2{
    text-transform: uppercase;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
}

.list-social-icons a {
    color: #495057;
}

.list-social-icons a:hover {
    color: var(--primary-color);
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem;
}

.list-icons {
    font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
    color: var(--primary-color);
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

section.resume-section .resume-item a {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    font-size: 1.35rem;
    text-decoration: none;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
        min-width: 10rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

a {
    color: var(--primary-color) ;
}

a:hover, a:focus, a:active {
    color: var(--primary-color) ;
}

.small-caps {
    text-transform: none;
    font-variant: small-caps;
}
