{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section">
  <div id="projects-content">
    <h2 class="text-primary" id="{{ urlize .Title }}">{{ .Title }}</h2>
    <p>{{ .Content }}</p>
    {{ range .Data.Pages.ByWeight.Reverse }}
      {{ if ne .Type "markdown" }}
        {{ partial (printf "%s%s" .Type "Summary") . }}
      {{ end }}
    {{ end }}
    {{ range .Sections }}
        <h2 id="{{ urlize .Title }}"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>{{ .Content }}</p>
        {{ range .Pages.ByWeight.Reverse }}
          {{ if ne .Type "markdown" }}
            {{ partial (printf "%s%s" .Type "Summary") . }}
          {{ end }}
        {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
