
<div class="resume-item d-flex flex-column flex-md-row mb-3">
  <div class="publication-content mr-auto">
    {{ if eq .Params.pub_type "Jour" }}
      <h4 class="ps-1 pe-1 d-inline-flex rounded bg-danger-subtle">{{ .Params.pub_type }}</h4>
    {{ else if eq .Params.pub_type "Conf" }}
      <h4 class="ps-1 pe-1 d-inline-flex rounded bg-success-subtle">{{ .Params.pub_type }}</h4>
    {{ else if eq .Params.pub_type "Pre-print" }}
      <h4 class="ps-1 pe-1 d-inline-flex rounded bg-warning-subtle">{{ .Params.pub_type }}</h4>
    {{ else }}
      <h4 class="ps-1 pe-1 d-inline-flex rounded bg-primary-subtle">{{ .Params.pub_type }}</h4>
    {{ end }}
    <h4 class="mb-0 d-inline-flex"><a href="{{ .Permalink }}">{{ .Params.title }}</a></h4>
    <div></div>
    <h5 class="mb-0 pe-2 d-inline-flex">{{ .Params.authors }}</h4>
    <p class="fs-6 d-inline-flex"> {{ .Params.venue }}</p>
    <!-- <p>{{ partial "techtags" . }}</p> -->
  </div>
  <div class="resume-date text-md-end">
    <span class="text-primary">{{ .Params.date | dateFormat "January 2006" }}</span>
  </div>
</div>
