<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="{{ .Scratch.Get "sectionId" }}">
  <div class="my-auto" id="projects-content">
    <div class=" pb-2 pt-3">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ .Content | replaceRE "<p>" "<p class=\"lead\">" | safeHTML  }}      
    </div>

    {{ range first 4 .Pages.ByWeight.Reverse }}
      {{ partial (printf "%s%s" .Section "Summary") . }}
    {{ end }}
    {{ if gt .Pages.Len 4 }}
      <h3><a href='{{ .RelPermalink }}'>READ MORE</a></h3>
    {{ end }}
  </div>
</section>
