{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="content">
  <div>
    <h2 class="mb-0 small-caps"><span class="text-primary">{{ .Title }}</span></h2>

    {{ if (isset .Params "alert_danger") }}
      <div class="alert alert-danger">{{ .Params.alert_danger }}</div>
    {{ end }}

    {{ if (isset .Params "alert_info") }}
      <div class="alert alert-info">{{ .Params.alert_info }}</div>
    {{ end }}

    <h3>
      {{ if (isset .Params "publication_link") }}
        <a href="{{ .Params.publication_link }}">Online version</a>
      {{ end }}

      {{ if (isset .Params "manuscript_link") }}
        • <a href="{{ .Site.BaseURL }}{{ .Params.manuscript_link }}">Manuscript</a>
      {{ end }}

      {{ if (isset .Params "slides_link") }}
        • <a href="{{ .Site.BaseURL }}{{ .Params.slides_link }}">Slides</a>
      {{ end }}
    </h3>

    {{ with .Params.image }}<img src="{{ . }}" style="max-height:300px;max-width:30%;" align="right"/>{{ end }}
    {{ .Content }}

    <p class="mt-3">{{ partial "techtags" . }}</p>
  </div>
</section>
{{ end }}
