{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section content">
  <div>
    <h2 class="mb-0 small-caps"><span class="text-primary">{{ .Title }}</span></h2>

    {{ if (isset .Params "alert_danger") }}
      <div class="alert alert-danger">{{ .Params.alert_danger }}</div>
    {{ end }}

    {{ if (isset .Params "alert_info") }}
      <div class="alert alert-info">{{ .Params.alert_info }}</div>
    {{ end }}

    <h3>
      {{ if (isset .Params "article_link") }}
        <a href="{{ .Params.article_link }}">
          {{ if eq .Params.pub_type "Thesis" }}
            Thesis link
          {{ else }}
            Article link
          {{ end }}
        </a>
      {{ end }}

      {{ if (isset .Params "article_pdf") }}
        •
        <a href="{{ .Site.BaseURL }}{{ .Params.article_pdf }}">
          {{ if eq .Params.pub_type "Thesis" }}
            Thesis PDF
          {{ else }}
            Article PDF
          {{ end }}
        </a>
       {{ end }}

      {{ if (isset .Params "slides_pdf") }}
        •
        <a href="{{ .Site.BaseURL }}{{ .Params.slides_pdf }}">Slides</a>
      {{ end }}
    </h3>

    {{ with .Params.image }}<img src="{{ . }}" style="max-height:300px;max-width:30%;" align="right"/>{{ end }}
    {{ .Content }}

    <p class="mt-3">{{ partial "techtags" . }}</p>
  </div>
</section>
{{ end }}
